/* Defaults */
:root {
	--font-family: "Urbanist", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--color-green-50: #14E8A7;


	--color-blue-10: #F4F7FC;
	--color-blue-30: #626E8A;
	--color-blue-50: #004FFF;
	--color-blue-90: #00184D;

	--background-color: #fff;

	--text-color: var(--color-blue-90);
	--text-color-link: var(--color-blue-90);
	--text-color-link-active: var(--color-blue-50);
	--text-color-link-visited: var(--color-green-50);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-weight: 600;
	color: var(--text-color);
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: var(--background-color);
}

body {
	max-width: 70rem;
	font-size: 1.25rem;
	/* 20px /16 */
	line-height: 2.125rem;
	/* 34px /16 */
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h1 {
	font-size: 3rem;
	/* 48px /16 */
	line-height: 3.3rem;
	/* 53px /16 */
	font-weight: 800;
	margin: 1em 0;
}

mark {
	color: var(--color-blue-50);
	background: none;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
	font-weight: 700;
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}


.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
	color: #aaa;
}

h2+.header-anchor {
	font-size: 1.5em;
}

article>header {
	display: block;
	padding: 0 0 16px 0;
}

.toc a {
	font-size: 14px;
}

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 1rem;
	list-style: none;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: #6c757d;
	content: "/";
}

.featured-title {
	font-size: 2rem;
	line-height: 2.125rem;
	display: flex;
	align-items: center;
	margin: 6.25rem 0 3.75rem 0;
}

.featured-title::after {
	content: '';
	flex-grow: 1;
	border-bottom: 4px dotted var(--color-blue-90);
	margin-left: 20px;
	/* Space between text and dotted line */
}

@media (max-width: 767px) {
	.featured-title {
		margin: 2rem 0 1rem 0;
	}
}

/* Medium screens (up 1008px) */
@media (min-width: 768px) and (max-width: 1008px) {
	.featured-title {
		margin: 4rem 0 2rem 0;
	}
}