{%- css %}{% include "public/css/postlist.css" %}{% endcss %}
<ol reversed class="postlist">
    {% for post in postslist | getAllPostNotIgnored |  reverse %}
        <li>
            <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                {%- if post.data.picture %}
                    {% image post.data.picture, post.data.alt, "postlist-img", ["300px"] %}
                {%- endif %}
                <div class="postlist-content">
                    <header class="postlist-header">
                        <h2 class="postlist-title">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                <code>{{ post.url }}</code>
                            {% endif %}
                        </h2>

                        <p class="postlist-info">
                            {%- set myAuthors = authors | getAuthors(metadata.authors, post.data.author) %}
                            {%- for theAuthor in myAuthors %}
                                <a href="/authors/{{ theAuthor.key }}">{{ theAuthor.name }}</a>
                                {%- if not loop.last %}, {% endif %}
                            {%- endfor %}
                            •
                            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("MMMM d, yyyy") }}</time>
                        </p>
                    </header>
                    <p class="postlist-summary">
                        {{ post.data.summary | safe }}
                    </p>
                    <a href="{{ post.url }}" class="postlist-link">Read more &#11166</a>
                </div>
               
            </article>
        </li>
    {%- endfor %}
</ol>