---
layout: layouts/home.njk
eleventyNavigation:
  key: nav.home
  order: 1
numberOfLatestPostsToShow: 3
---

<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	WebtoLearn is your go-to hub for a diverse range of projects and resources. Dive into a treasure trove of coding and technology blog posts, explore courses designed to empower students in the realm of web development, uncover succinct summaries of insightful YouTube videos about web-related topics, and get to know individuals and their web-related interests. Join our community of learners, creators, and enthusiasts on a journey through the ever-evolving web landscape.
</div>
<!-- Stop deleting -->

{% set postsCount = collections.posts | getAllPostNotIgnored | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | getAllPostNotIgnored | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog area</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
