---
layout: layouts/home.njk
eleventyNavigation:
  key: nav.home
  order: 1
numberOfLatestPostsToShow: 3
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<section class="box">
	<h1 class="box__title">Explore, Learn, Connect: <br/> Welcome to <mark>Webtoknow</mark>!</h1>
	<img class="box__image" src="/img/undraw/code-thinking.svg" alt="Thinking about code" />
</section>


{% set postsCount = collections.posts | getAllPostNotIgnored | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | getAllPostNotIgnored | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog area</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
