---
layout: layouts/home.njk
eleventyNavigation:
  key: nav.home
  order: 1
numberOfLatestPostsToShow: 3
---

<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	WebtoLearn is your ultimate hub for all things web-related. Here, a diverse group of individuals collaboratively share their ongoing projects. Dive into a treasure trove of blog posts delving into coding and the latest in technology. Explore a range of courses designed to empower students on their web journey. Discover concise summaries of insightful YouTube videos covering various web topics. And most importantly, get to know our vibrant community and their diverse web-related interests. Join our community of learners, creators, and enthusiasts on a journey through the ever-evolving web landscape.
</div>
<!-- Stop deleting -->

{% set postsCount = collections.posts | getAllPostNotIgnored | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | getAllPostNotIgnored | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog area</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
